$bkg-shadow: #f9c922;
$bkg-shadow-hover: rgba(0, 18, 45, 0.35);
$yellow: #f9c922;
$myRed: #e74c3c;
$green: #16a085;
body {
  //padding: 32px;
  margin: 0 !important;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background: url("../../img/bkg.jpg") fixed no-repeat center;
  //background-color: $green;
  background-size: cover;
  color: white !important;
}
header{
  background-color: #74D2FF;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px !important;
}
.main-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.title{
  color: #FCF798;
  width: 25%;
  display: flex;
  flex-direction: row;
}
.title h1{
  margin-left: 5px;
  font-size: 32px;
}
.weather-search form{
  width: 100%;
  text-align: center;

}
.weather-search form input{
  font-size: 28px !important;
  background-color: rgba(0, 21, 64, 0.35);
}
weather-search input:not([type]),  weather-search input[type=text] {

   border-bottom: 1px solid $yellow !important;
 }

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $yellow !important;
  box-shadow: 0 1px 0 0 $yellow !important;
}

.sidebar-closed{
  width: 5vw !important;
  transition: all 0.5s;
}
.remove-btn{
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: $yellow !important;
}
::-webkit-scrollbar
{
  width: 0;  /* for vertical scrollbars */
  height: 0; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  display: none;
}

::-webkit-scrollbar-thumb
{
  display: none;
}


.search-btn{
  width: 100% !important;
  background-color: $bkg-shadow-hover;
}
.search-btn:hover{
  background-color: $bkg-shadow-hover;
}
.search-btn:focus{
  background-color: $bkg-shadow-hover;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px $bkg-shadow-hover inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse .6s linear infinite;
  animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  //background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

