:host{
  width: 30%;
  height: 100vh;
  padding: 10px;
  text-align: center;
  overflow: auto;
}

.my-profile{

}
.my-profile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button{

}
.delete:hover{
  cursor: pointer;
}
