$yellow: #f9c922;
$green: #16a085;
:host{
  width: 40%;
  height: 100vh;
  padding: 10px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.5s;
  overflow-x: hidden;
  background-color: rgba(255, 206, 35, 0.86)

}

.none{
  display: none;
}




.my-profile{
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

  p{
    min-width: 80%;
  }
  i{
    width: 20%;
  }
}
.my-profile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.delete:hover{
  cursor: pointer;
}

.icon-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(240, 248, 255, 0.53);
  cursor: pointer;
}
article{
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.save-profile-btn{
  position: fixed !important;
  bottom: 15px !important;
}
